{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %} user todo list show {% endblock %}

{% block page_content %}

<table class="table">
  <thead>
    <tr>
      <th>#</th>
      <th>id</th>
      <th>name</th>
      <th>enable</th>
    </tr>
  </thead>
 <tbody>
 {% for i in range(1,4) %}
    <tr>
      <th scope="row">i</th>
      <td>users[i-1].id</td>
      <td>users[i-1.name</td>
      <td>users[i-1].enable</td>
    </tr>
 {% endfor %}  
  </tbody>
</table> 


{{ wtf.quick_form(form) }}
{% endblock %}



